li{float:left;}

#containerResults{
    display: none;
    -webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	background-color:white;
}

input[type="search"]:focus + #containerResults{
    display: block;
	position: absolute;
	z-index: 1;
}

#containerResults:hover {
	display: block;
	position: absolute;
	z-index: 1;
}
