li{float:left;}
html{background-color: black;overflow-x: hidden;}
body{background-color: black;}
#containerResults{
    display: none;
    -webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	background-color:white;
}

input[type="search"]:focus + #containerResults{
    display: block;
	position: absolute;
	z-index: 1;
}

#containerResults:hover {
	display: block;
	position: absolute;
	z-index: 1;
}

header,.view-frame{position: relative;z-index: 1;}

.form-control{width: auto;float: right;}
.pagination{margin-top: 0;}








.navbar-nav{height: 50px;margin:0;}
.navbar-nav>li>a{padding-top: 15px;padding-bottom: 15px;}

.stars-wrapper, .stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
.stars-wrapper{opacity:1;}
.stars-animation {
    -moz-animation: stairs 9s linear infinite;
    -webkit-animation: stairs 9s linear infinite;
    animation: stairs 9s linear infinite;
}
.stars-animation-two {
    -moz-animation: stairs 9s linear infinite;
    -webkit-animation: stairs 9s linear infinite;
    animation: stairs 9s linear infinite;
    animation-delay: 3s;
}
.stars-animation-three {
    -moz-animation: stairs 9s linear infinite;
    -webkit-animation: stairs 9s linear infinite;
    animation: stairs 9s linear infinite;
    animation-delay: 6s;
}

@-moz-keyframes stairs {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(3);
    transform: scale(3);
  }
}
@-webkit-keyframes stairs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}
@keyframes stairs {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}


#row_option{
	margin:10px;
}

.rightLabelMass{
	display: inline-block;
	float:right;
}
.leftLabelMass{
	display: inline-block;
}

.rightLabelYear{
	display: inline-block;
	float:right;
}
.leftLabelYear{
	display: inline-block;
}

#loadingMeteorite{
	width:40%;
	height:40%;
	animation: spin 2s linear infinite;
}
#loadingTitle{
	font-size: 3vw;
	position: absolute;
	top: 45%;
	left: 45%;
	width: 100%;
}

@keyframes spin{
	0% {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

#suggestion{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
}

#dropMeteorite,#reloadMarkers {
	display:inline-block;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
