<div class="container">

	<div class="row" id="content">

		<div class="col-md-6 col-xs-12 chart">
			<canvas id="line" class="chart chart-line" chart-data="dataMass"
			  chart-labels="labelsMass" chart-legend="true" chart-series="seriesMass"
			  chart-click="onClick" chart-options="{pointDot:false, scaleBeginAtZero: true}" >
			</canvas>
		</div>
		<div class="col-md-6 col-xs-12 chart">
			<canvas id="years" class="chart chart-line" chart-data="dataYear"
			  chart-labels="labelsYear" chart-legend="true" chart-series="seriesYear"
			  chart-click="onClick" chart-options="{pointDot:false, scaleBeginAtZero: true}" >
			</canvas>
		</div>
		<div class="col-xs-12 chart">
			<table class="table">
					<tr>
						<td ng-click="sortType = 'name'; sortReverse = !sortReverse">Nom</td>
						<td ng-click="sortType = 'mass'; sortReverse = !sortReverse">Masse (g)</td>
						<td ng-click="sortType = 'year'; sortReverse = !sortReverse">Année</td>
						<td ng-click="sortType = 'recclass'; sortReverse = !sortReverse">Classe</td>

						</td>
					</tr>
					<tr ng-repeat="met in meteorites | orderBy:sortType:sortReverse | limitTo:viewby:(currentPage-1)*viewby">
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.name }}</td>
						<td ng-if="$even"style="background-color:blue">{{ met.name }}</td>
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.mass }}</td>
						<td ng-if="$even"style="background-color:blue">{{ met.mass }}</td>
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.year }}</td>
						<td ng-if="$even"style="background-color:blue">{{ met.year }}</td>
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.recclass }}</td>
						<td ng-if="$even"style="background-color:blue">{{ met.recclass }}</td>
					</tr>
		</table>
		<div class="row">
		<pagination ng-model="currentPage" total-items="meteorites.length" max-size="maxSize" boundary-links="true"></pagination>
		<select class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)"></option><option ng-selected="true">10</option><option>20</option><option>30</option><option>40</option><option>50</option></select>
	</div>
		</div>


	</div>
</div>
