<div class="container">

	<div class="row" id="content">

		<div class="col-md-6 col-xs-12 chart">
			<canvas id="line" class="chart chart-line" chart-data="dataMass"
			  chart-labels="labelsMass" chart-legend="true" chart-series="seriesMass"
			  chart-click="onClick" chart-options="{pointDot:false, scaleBeginAtZero: true}" >
			</canvas>
		</div>
		<div class="col-md-6 col-xs-12 chart">
			<canvas id="years" class="chart chart-line" chart-data="dataYear"
			  chart-labels="labelsYear" chart-legend="true" chart-series="seriesYear"
			  chart-click="onClick" chart-options="{pointDot:false, scaleBeginAtZero: true}" >
			</canvas>
		</div>
		<div class="col-xs-12 chart">
			<table class="table">
					<tr ng-repeat="met in meteorites">
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.name }}</td>
						<td ng-if="$even">{{ met.name }}</td>
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.mass }}</td>
						<td ng-if="$even">{{ met.mass }}</td>
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.year }}</td>
						<td ng-if="$even">{{ met.year }}</td>
						<td ng-if="$odd" style="background-color:#f1f1f1">{{ met.recclass }}</td>
						<td ng-if="$even">{{ met.recclass }}</td>
					</tr>
		</table>
		</div>


	</div>
</div>
